<div class="container marketing" id="project-container">
      <div id="container">
        <h2 class="heading"> Amplifier Stability in the Case of Non-Linear, Inductive Loads</h2>
        <%= image_tag("spain.png" , id:"image" )%>
        <p class="lead" id="description">
          The purpose of this project was to research amplifier stability in the case of non-linear inductive loads. A classical closed loop amplifier was connected in current-mode feedback to a non-linear inductive load. A sinusoidal current was inputted into the system in order to observe a self-oscillation. The current was induced at moderate frequency however the oscillation was at high frequency. Data was acquitted at various frequencies and voltages. The project required two steps: 1) designing and building the circuitry and 2) procuring the data measured.
        </p>
      </div>
      </div>

<hr class="featurette-divider">


<div class="container marketing" id="project-container">
      <div id="container">
        <h2 class="heading"> Maxentric Technologies LLC Student Intern</h2>
        <%= image_tag("max.png" , id:"image" )%>
        <p class="lead" id="description">
          Worked as a student intern on a project whose ultimate goal is to create a gateway that is capable of translating signals of different waveforms to allow communication between otherwise incompatible devices. My task involved the exploration of various resources for video, voice, and text communication across different platforms, as well as the implementation of some additional features to the system.
        </p>
      </div>
      </div>

<div class="container marketing" id="project-container">
      <div id="container">
        <h2 class="heading"> Digital Logic Design: Laser Tag</h2>
        <%= image_tag("dld.png" , id:"image" )%>
        <p class="lead" id="description">
          Laser Tag is composed of two parts: the gun and the vest. The game works by shooting from the gun and attempting to aim at the target located on the vest.  Great accuracy is needed in order to score a point.  In order to build this game using digital logic design, the components of the game had to be specifically defined.  Our game consists of two guns, each represented by a breadboard, and a vest, represented by a couple of breadboards combined together.  Each gun consists of a button that fires the laser through some logic and the actual laser.  The vest is able to receive the signal sent by the gun through a photo transistor.  The signal is then transferred by logic to one of two counters.  The counters then display the correct score for each team.  
        </p>
      </div>
      </div>

<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <h2 class="heading"> Formula SAE</h2>
        <%= image_tag("fsae.png" , id:"image" )%>
        <p class="lead" id="description">
          This project was part of a larger team to compete in a student design competition of developing a small race car. My position in the project was in the Data Analysis team, where we tested the wheel speed, motor temperature, and driver controls. The responsibilities included testing the current results and devising solutions to optimize the race car. 
        </p>
      </div>
      </div>

<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <h2 class="heading"> Breakout</h2>
        <%= image_tag("breakout.png" , id:"image" )%>
        <p class="lead" id="description">
          The game of Brick Breaker was programmed through the language of Python. In this game, the player must smash a wall of bricks by deflecting a bouncing ball with a paddle. The paddle may move horizontally and is controlled with the computer's mouse. 
        </p>
      </div>
      </div>

<hr class="featurette-divider">

